# Backend Environment Variables
SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=dev
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION=86400000

# Gmail SMTP Credentials for OTP Verification
MAIL_USERNAME=your_gmail_address@gmail.com
MAIL_PASSWORD=your_gmail_app_password

# Google OAuth 2.0 Web Client ID
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
